body{	font-family: Arial,Helvetica,sans-serif;}

.header-carrito {
  font-family: Arial,Helvetica,sans-serif;
  margin-top: 15px;
  padding-bottom: 10px;
  max-width: 60em;
  margin-left:0;
  padding-left:0;
}

.regresar_catalogo {
 	float:right;
 	padding-bottom:.5em;
  padding-top:.5em;
}
  
.elementos-header {
  cursor: pointer;
  display:inline-block;
  color: #999;
  font-size: 12px;
  font-weight:none;
}

#checkout_envio {
  padding-left: 30px;
	background: url('http://static.dafiti.com.mx/images/local_v2/icons/main_sprite-20140923.png') 0 -200px;

}

#checkout_envio:hover {
  padding-left: 30px;
	background: url('http://static.dafiti.com.mx/images/local_v2/icons/main_sprite-20140923.png') 0 -672px;

}

#checkout_cambio {
	padding-left: 35px;
  background: url('http://static.dafiti.com.mx/images/local_v2/icons/main_sprite-20140923.png') 0 -243px
	
}

#checkout_cambio:hover {
	padding-left: 35px;
  background: url('http://static.dafiti.com.mx/images/local_v2/icons/main_sprite-20140923.png') 0 -715px
}

#checkout_tarjeta{
  padding-left: 35px;
	background: url('http://static.dafiti.com.mx/images/local_v2/icons/main_sprite-20140923.png') 0 -319px;
	
}

#checkout_tarjeta:hover {
	padding-left: 35px;
	background: url('http://static.dafiti.com.mx/images/local_v2/icons/main_sprite-20140923.png') 0 -791px;
	
}

#checkout_contacto {
  padding-left: 43px;
	background: url('http://static.dafiti.com.mx/images/local_v2/icons/main_sprite-20140923.png') 0 -357px;
	
}


#checkout_contacto:hover {
  padding-left: 43px;
	background: url('http://static.dafiti.com.mx/images/local_v2/icons/main_sprite-20140923.png') 0 -830px;
	
}



.info-elementos-header {	
  font-size: 11px; 
  font-weight:none;
}

.elementos-header, .info-elementos-header {
  padding-right:1em;
}

li:hover {
  	color:#FF8000;
}

.logo-checkout {
  padding-top: 0px;
  margin-top: -3px;
  padding-left:0;
  padding-right:2em;
}

.titulos-header {
	font-weight:700;
}  

a:link {
  color:#999;;
}

.box {
  font-size: 12px;
  line-height: 14px;
}
.box {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-borderTopDotted {
  border-top: 1px dotted #d3d3d3!important;
}
.mbl, .mvl, .mal {
  margin-bottom: 20px!important;
}
.mtl, .mvl, .mal {
  margin-top: 20px!important;
}
.ptm, .pvm, .pam {
  padding-top: 10px!important;
}
.fss {
  font-size: 12px;
  font-size: 1.1rem;
  color: #999;
}

.clearfix, .box, .box-hd, .box-bd, .box-ft, .l-pageWrapper, #content {
  zoom: 1;}

#footer {
    clear: both;
}
#header, #content, #footer, #HeaderNewsletter, .l-full-hd #header .l-pageWrapper, .l-full-ft #footer .l-pageWrapper, .container {
    margin: 0 auto;
    max-width: 996px;
    width: 996px;
    _text-align: left;
}
/*footer {
  font-family: Arial,Helvetica,sans-serif;
    color: #858585;
    font-size: 11px;}*/


footer {
  color: #999;
  font-size: 12px;
      /*font-family: "Museo Sans";*/
   /* color: #858585;*/
     /* font-size: 11px; */
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}
user agent stylesheet
article, aside, footer, header, hgroup, main, nav, section {
  display: block;
}

.izqfloat {
  float: left;
}

.txt_der {
  text-align: right;
}
.derfloat {
  float: right;
}

a:hover, a:active {
  outline: 0;
  text-decoration: underline;
  color: #999;
}
footer a {
  color: #999;
  font-size: 11px;
}

a {
  text-decoration: none;
}
user agent stylesheet
a:-webkit-any-link {
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
}


.ui-listaHorizontal .ui-lista_objeto {
  display: inline-block;
  font-family: Arial,Helvetica,sans-serif;
}
.ui-lista_objeto  {
  display: block;
}
.ui-borderRightDotted {
  border-right: 1px dotted #d3d3d3!important;
  padding-right: .5em;
}

.mrs, .mhs, .mas {
  margin-right: 5px!important;
  color: #999;
}
