
footer#invierno { 
    
    background: #e7e5e2; 
    border-top: 2px solid rgba(187, 187, 186, .5);
    box-shadow: none; 

    } 


footer #socialInvierno {
    padding: 1em; 
    text-align: center;
}
footer #socialInvierno li {
    display: inline-block;
    vertical-align: middle;
}
footer #socialInvierno .icono a {
    font-size: 1.35em;
    display: block;
    width: 1.7em;
    height: 1.7em;
    overflow: hidden;
    color: black;
    border-radius: 50%;
    text-align: center;
    background: url(../media/default/aro-invierno.png) no-repeat center center/contain;
}
footer #socialInvierno #facebook a:before {
    font-family: iconos;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1.3;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e605";
}
footer #socialInvierno a:hover { 
    
    text-decoration: none;

}
footer #socialInvierno #instagram a:before {
    font-family: iconos;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1.3;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e607";
}
footer #socialInvierno #pinterest a:before {
    font-family: iconos;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1.3; 
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e60c";
}
footer #socialInvierno #twitter a:before {
    font-family: iconos;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1.3;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e60e";
}
footer #socialInvierno #googleplus a:before {
    font-family: iconos;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1.3;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e606";
}
footer #socialInvierno #youtube a:before {
    font-family: iconos;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1.3;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e610";
}
footer #socialInvierno #vimeo a:before {
    font-family: iconos;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1.3;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e60f";
}
footer #socialInvierno #snapchat a:before {
    font-family: iconos;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1.3;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e900";
}
footer #socialInvierno .icono a:before {
    display: block;
    margin-bottom: 1em;
    margin-top: .275em;
}
footer #socialInvierno .bannerRedes {
    display: block;
    margin-top: 1em;
    max-width: 45em;
}
footer #socialInvierno li:not(:first-child) {
    margin-left: .25em;
}


ul .iconsInvierno  { margin-top: 10px; }


.newsletterSuscribe {  

margin-top: 20px; 
text-align: left;

                    } 

.buttonInvierno { 

    background: black;
    color: white;
    border: none;
    margin-left: -6px;
    font-size: 14px;
    padding: 3.5px 13px 3.5px 13px;

 }

.inputNewsletter {
    text-transform: lowercase;
    margin: 0;
    font-size: .733333em;
    width: 60% !important; 
}

#invierno .newsletterSuscribe h3 { text-align: right;  padding: 7px; }


#legalesInvierno   { 

    padding: 1.5em 2.5em;
    border-top: 1px solid rgba(187, 187, 186, .25);
    font-size: .45em;
    background: black; 
    color: white;  
                   
                   }

#legalesInvierno a { color: white;  }


#legalesInvierno .legal { margin-bottom: 0;
    text-align: right;
    line-height: 1.5; }


.leftFooterInvierno { float: left; }


.rapsodia:before {
    content: "\e60d";
}

.ayuda:before {
    content: "\e602";
}

.tiendas:before {
    content: "\e60a";
}

.newsletter:before {
    content: "\e604";
}


.comun_invierno {
    font-family: iconos, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1.3;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2.2em;
    text-align: left;
    color: #000000;
}



.leftVisualIcon  { display: inline-block;     }
.visualText { display: inline-block;    }

.visualText p { font-size: 13px;  }

.borderTexture { 

    border: 6px solid transparent;
    border-image: url(../media/default/marco-invierno.png) 12% repeat;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    background-color: rgba(255,255,255,.6);

 }


.informativeTextDivision { font-size: 11px; text-align: center; margin: 20px 0px 0px 0px;  }

.divisionInfo { border-left: 1px solid grey; height: 25px; margin-bottom: 20px; }

.divisionInfo a {  vertical-align: -webkit-baseline-middle; }




@media (max-width: 991px) { 

.divisionInfo { height: 40px;  }

.newsletterSuscribe {
    text-align: center;
}


#invierno .newsletterSuscribe h3 {
    text-align: center;
}

}
