
.locale-map {
    margin-top: 15px;
    font-size: .83em;
}

.top_ubica_tienda { margin-top: 50px; }
.top_ubica_tienda h3 { text-transform: uppercase; border-bottom: 1px solid black; padding-bottom: 7px;  }

.ubica_tienda { margin-top: 50px; }
.ubica_tienda h3 { text-transform: none; border-bottom: 1px solid black; padding-bottom: 7px;  }

.mapa-geo { display: none; }

h5.link_tienda a {     
	border-bottom: 1px solid black;
    padding-bottom: 5px;  
} 

.stand span {  padding-bottom: 5px; border-bottom: 1px solid gray;  
	           width: auto; cursor: pointer; cursor: hand; }

h5.link_tienda { text-align: right; color: black; }

.locale-map { margin-top: 15px; }

.table.location>tbody>tr>td { border-top: none;  }

.table.location>thead>tr>th { 
    border-bottom: none;
                            }

.pop_container { display: none;  }

.pop_container h3 { margin-top: 20px;  }

.ubicacion { 
  height: 250px;
  width: 100%;  
           } 

.gm-style-iw {
  text-align: left; 
			       }

.gm-style-iw h3 {

 color: gray;
 margin: 20px 0px 20px 0px; 

	     		      }

.filtro h5 { 
    font-size: .83em; 
		       }


.filtro a:hover { text-decoration: none; }

.locale-map address {  line-height: 2.2em; }

.image-locale { padding-right: 0px;  padding-left: 0px; margin-top: 15px; }

.top-banner { margin-top: 30px; }

ul.country li { display: inline-block; }
