.row.send_pk {
    margin-top: 30px;
    margin-bottom: 	20px; 
}   


.second.swiper-container {
    padding-bottom: 5px;
						 } 


.two_sides h3 { text-align: center;  font-size: 30px; margin-bottom: 20px;  }


.brd_left { border-left: 1px solid #bbbbba; }

.h_social .tar { text-align: center; }

.h_social {  margin-top: 25px;   }


/* Custom */
.img-responsive { width: 100%; }
/* Custom */



.m_texto {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 37%;
    left: 15px;
    bottom: 0;
    right: 15px;
    background: rgba(231,229,226,.7);
    padding: 1em;
    text-align: center;
    -webkit-transition: 250ms ease-in-out;
    -moz-transition: 250ms ease-in-out;
    -o-transition: 250ms ease-in-out;
    -ms-transition: 250ms ease-in-out;
    transition: 250ms ease-in-out;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
		 }


.m_texto h3 {     letter-spacing: .1em;
    font-weight: 700;
    font-size: 1.5em;
    margin: 0;
    color: #000; }


.m_texto p {     font-weight: 400;
    margin: 5px;
    color: #000;
    font-size: .983em; } 


.pin { min-height: 200px; min-width: 200px;  }
