
/*home */ 
.h_logo {
    display: inline-block;
}
.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    opacity: .5;
}
.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}

.w25 {
    width: 25%;
    float: left;
}
.w50 {
    width: 50%;
    float: left;
}
div.w25 input.form-control {
    width: 95%;
    float: left;
}
div.w50 input.form-control {
    width: 100%;
    float: left;
}
/* */

.first.container {
    margin-top: 15px;
}
.first.swiper-container {
    padding-bottom: 40px;
}
.navbar-right.raf li:last-child a:last-child {
    padding-right: 0px;
}
.p-arch span {
    position: relative;
    padding: 0 1.5em;
    background: #fff;
}
.p-arch:before {
    content: "";
    border-bottom: 1px solid #1d1d1b;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
}
.detail_talla li a:hover {
    color: #444;
    text-decoration: none;
}
.row.bnrs {
    margin-top: 5px;
}
.row.bnrs .col-sm-4 {
    margin-bottom: 20px;
}
.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #757575;
}
.vint {
    height: 34px;
}
.m-l {
    border-left: 1px solid #C8C8C8;
}
.change-f {
    width: 620px;
    margin-left: 30%;
    padding-top: 10px;
}
.logo {
    padding-top: 18px;
    width: 210px;
}
.nav.navbar-nav.ref li ul a {
    color: #000;
    font-size: .98em;
    line-height: 1.6;
}
ul.re li {
    color: #8F8F8F;
}
ul.re {
    display: inline-flex;
    list-style: none;
    float: right;
    color: #333;
}
.container.catalogo {
    margin-top: 15px;
}
#popularidad_catalogo {
    float: left;
    margin-left: 40%;
}
/*component slide price black */

#slider-range {
    clear: both;
    width: 95%;
    margin-bottom: 9px;
    margin-left: 5px;
    height: 12px;
    margin-top: 8px;
    border: 0;
    background: url("http://static.dafiti.com.mx/images/local/facets/slider_bar_bg.png") repeat-x;
}
.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider-horizontal .ui-slider-range {
    background-image: none;
    background-color: #000;
    top: 6px;
    height: 5px;
}
.ui-slider-horizontal .ui-slider-range {
    top: -5px;
    height: 30px;
    background: url("http://static.dafiti.com.mx/images/local_v2/facets/slider_range_bg.png") repeat-x;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -6px;
    margin-left: -.6em;
    width: 12px;
    height: 17px;
    background: url("http://static.dafiti.com.mx/images/core/facets/slider_handle.png");
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: .9em;
    height: 1.2em;
    cursor: default;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -6px;
    margin-left: -.6em;
    width: 12px;
    height: 17px;
    background: url("http://static.dafiti.com.mx/images/core/facets/slider_handle.png");
}
.slider_amount .float-left {
    float: left;
    width: 49%;
}
.slider_amount .float-right {
    float: right;
    width: 49%;
    text-align: right;
}
/*component slide price black */

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}
.scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
.scrollbar::-webkit-scrollbar-thumb {
    background-color: #000000;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "\00BB";
}
.re {
    padding-left: 20px;
    margin-right: 15px;
}
.re li {
    margin-left: 10px;
    font-size: .9em;
    color: #333;
}
.form-control {
    display: block;
    width: 24%;
    height: 22px;
    padding: 2px 9px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.scrollbar {
    margin-left: 1px;
    float: left;
    height: 200px;
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 25px;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    font-family: 'Montserrat-light', "Century Gothic", Verdana, sans-serif;
    letter-spacing: .07em; 
}
img {
    max-width: 100%;
}
#cls ul li a {
    color: #9A9A9A;
    font-size: .9em;
}
.nav.navbar-nav.ref li a {
    color: #000;
    font-size: 1.1em;
}
.navbar.navbar-static-top {
    margin-bottom: 0px;
}
.dropdown-large {
    position: static !important;
}
.dropdown-menu-large {
    background: #f8f8f8;
    padding: 10px 0px;
}
.dropdown-menu-large > li > ul {
    padding: 0;
    margin: 0;
}
.dropdown-menu-large > li > ul > li {
    list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
    display: block;
    padding-left: 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid: DXImageTransform.Microsoft.gradient(enabled false);
    cursor: not-allowed;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: #fff;
    border-color: #337ab7;
    text-decoration: underline;
}
h3 {
    font-weight: 700;
    margin: 0;
    color: #000;
    font-size: 1em;
    text-transform: uppercase;
}
.navbar-toggle {
    background-color: rgba(0, 0, 0, 0.29);
}
span.icon-bar {
    background-color: #fff;
}
.l-esp {
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-top: 15px;
    color: #E0E0E0;
}
/*
.dropdown-toggle:hover { background: url(//i.c-b.co/is/image/Crate/crate_nav_arrow_red?fmt=png-alpha) no-repeat center bottom; }
*/

.price-list {
    padding-left: 0px;
}
.title-p {
    color: #000;
    margin: 0px 0px 25px;
}
.product-lst .col-xs-12.col-md-4 {
    margin-bottom: 2em;
}
.itm-flag {
    position: absolute;
    bottom: 85px;
    right: 25px;
    padding: 2px 10px;
    color: #5C5C5C;
    border: 1px solid #adadad;
    border-radius: 2px;
    background: #FFF;
    width: 70px;
    font-size: 10.5px;
    vertical-align: baseline;
    text-align: center;
}
.alt {
    margin-top: 15px;
}
/*exp*/

.cms-home .std>#home h2 {
    margin: 0 -2.75862em .5em
}
.flecha {
    margin-top: 4em
}
.flecha.next {
    right: -1.3em;
}
.flecha.prev {
    left: -1.3em;
}
.titulowelove {
    height: 85%;
    left: 50%;
    position: absolute;
    top: 0;
    margin-top: 3.25em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10;
    background: #fff;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    padding: 1em 1em 5.5em;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}
.titulowelove a {
    display: block
}
.titulowelove h3 {
    text-transform: none;
    font-size: 1.8em;
    font-weight: 800
}
.titulowelove h3:before {
    content: "";
    width: .85em;
    height: 0;
    display: block;
    margin: 0 auto;
    border-bottom: .1em solid #bc9066;
    margin-bottom: .25em
}
.titulowelove p {
    font-family: 'Libre Baskerville', Georgia, serif;
    font-style: normal;
    font-weight: 400;
    font-size: .933em;
    margin: .25em 0 0;
    color: #7e7e7e;
    line-height: 1.5457
}

.wrapper {
    margin-top: 1.5em;
    /*margin-right: -1em*/
}
.carousel {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    left: -100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%)
}
.carousel.is-reversing {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%)
}

.carousel.is-set {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    -ms-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out
}
.carousel-seat {
    -moz-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    -webkit-flex: 1 0 100%;
    flex: 1 0 100%;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-order: 2;
    order: 2
}

.carousel-seat.is-ref {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    order: 1
}
h4 {
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400
}
.itemGaleria {
    width: 198px;
    -webkit-transition: 250ms ease-in-out;
    -moz-transition: 250ms ease-in-out;
    -o-transition: 250ms ease-in-out;
    -ms-transition: 250ms ease-in-out;
    transition: 250ms ease-in-out
}
.itemGaleria:before {
    content: normal
}
.itemGaleria .product-image {
    position: relative;
    padding: 0 1em 0 0
}
.itemGaleria .product-image .datos {
    position: static;
    text-align: center;
    margin-top: .75em
}
.flecha {
    font-family: Montserrat-web, "Century Gothic", Verdana, sans-serif;
    color: #000;
    background: 0 0;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    letter-spacing: inherit;
    margin-top: -1em;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    border: .16em solid #e7e5e2
}
.flecha:before {
    content: "";
    position: absolute;
    height: .6em;
    width: .6em;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -moz-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    -o-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg)
}
.imagenproducto {
    display: block;
    height: auto;
    width: 100%;
    transition: 500ms;
}
.product-image img {
    position: relative;
    padding: .75em;
}
.nombre {
    transition: 100ms;
    font-weight: 700;
    color: #000;
    text-transform: none;
    margin: 0;
    font-size: .85em;
}
.price-box {
    font-size: .95em;
    margin: 0;
    color: #7e7e7e;
}
.flecha.prev:before {
    margin-left: .1em;
    border-top: .16em solid #000;
    border-left: .16em solid #000;
}
.flecha.next:before {
    margin-left: -.1em;
    border-bottom: .16em solid #000;
    border-right: .16em solid #000;
}
/* Nav */

#cls .navbar-nav li a {
    padding-left: 0.3em;
    padding-right: 0.3em;
}
/* Nav */



/* Fuentes */ 

@font-face {
    font-family: 'Montserrat-light';
    src: url(../fonts/montserrat-light-webfont.eot?#iefix) format('embedded-opentype'), 
    url(../fonts/montserrat-light-webfont.woff2) format('woff2'), 
    url(../fonts/montserrat-light-webfont.woff) format('woff'), 
    url(../fonts/montserrat-light-webfont.ttf) format('truetype'), 
    url(../fonts/montserrat-light-webfont.svg#Montserrat-web) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat-regular';
    src: url(../fonts/montserrat-regular-webfont.eot?#iefix) format('embedded-opentype'), 
    url(../fonts/montserrat-regular-webfont.woff2) format('woff2'), 
    url(../fonts/montserrat-regular-webfont.woff) format('woff'), 
    url(../fonts/montserrat-regular-webfont.ttf) format('truetype'), 
    url(../fonts/montserrat-regular-webfont.svg#Montserrat-web) format('svg');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat-bold'; 
    src: url(../fonts/montserrat-bold-webfont.eot?#iefix) format('embedded-opentype'), 
    url(../fonts/montserrat-bold-webfont.woff2) format('woff2'), 
    url(../fonts/montserrat-bold-webfont.woff) format('woff'), 
    url(../fonts/montserrat-bold-webfont.ttf) format('truetype'), 
    url(../fonts/montserrat-bold-webfont.svg#Montserrat-web) format('svg');
    font-weight: 800;
    font-style: normal
} 

@font-face {
    font-family: 'iconos';  
    src: url(../fonts/icomoon.eot) format('embedded-opentype'), 
         url(../fonts/icomoon.woff) format('woff'), 
         url(../fonts/icomoon.ttf) format('truetype'), 
         url(../fonts/icomoon.svg) format('svg');
    font-weight: 400;
    font-style: normal
}


/* Fuentes */





/*Responsive */

.ini-b2 .col-xs-12 {
    padding-bottom: 1em;
}
.ini-b2 .col-xs-12 img {
    width: 100%;
}
.instagram .col-xs-12 {
    padding-bottom: 1em;
}
.p-arch {
    font-weight: bold;
    text-align: center;
    position: relative;
    font-size: 22px;
    margin-top: 12px;
}
/*Responsive */
/* NUEVOS */

.ref {
    margin-left: 5%;
}
ul.f_child li {
    list-style: inherit;
    color: #7e7e7e;
}
ol.fq_points li ul li {
    list-style-type: disc;
}
ol.fq_points li {
    list-style: inherit;
    color: #7e7e7e;
}
#fq_sections {
    background: #fff;
    margin-bottom: 2em;
    max-width: 35em;
    margin: 0 auto;
}
#fq_sections p {
    font-size: .85em;
    color: #797979;
}
#fq_sections h2 {
    font-size: .85em;
    font-size: .95em;
    text-transform: uppercase;
    color: #000;
}
#fq_sections h1 {
    font-size: 1em;
    margin-top: .1em;
    padding-bottom: .5em;
    border-bottom: 1px solid black;
}
.div_fq {
    margin-top: 2px;
    margin-bottom: 30px;
}
/*NUEVOS */
/* comunes */

a {
    color: #444;
    text-decoration: none;
}
.ref li {
    padding-top: 8px;
}
.raf li {
    padding-top: 6px;
    display: inline-block;
}
.title {
    color: #000;
    font-weight: bold;
}
.change-f ul li {
    font-size: .85em;
}
.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;
    color: #4D4D4D;
}
.dropdown-menu {
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.in-tit {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 3px;
}
.in-p {
    color: #cc0c2f;
}
.new-o {
    background-color: #fff;
    padding-top: 0px;
    margin-top: 0px;
    font-size: .8em;
}
li {
    list-style: none;
}



.instagram h2 {
    text-align: center;
    position: relative;
}
.instagram p {
    text-align: center;
}
.button,
button,
input[type=button] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: BebasNeueWeb, 'Helvetica Condensed', 'Arial Narrow', Impact, sans-serif;
    font-style: normal;
    letter-spacing: .1em;
    font-weight: 700;
    transition: 100ms;
    background: #1d1d1b;
    border: none;
    color: #fff;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: .25em .75em .25em;
    text-align: center;
    border-radius: .1em;
}
input.input-text,
input[type=text],
input[type=email],
input[type=password],
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: .07em;
    border-radius: .1em;
    color: grey;
    background: #fff;
    border: 1px solid #bbbbba;
    padding: .25em .5em;
    outline: 0;
    line-height: 1.5;
    width: 16em;
    max-width: 100%;
    margin-top: .25em;
}
/* comunes */






#cart_detail {
    padding-bottom: 8em;
}
#cart_detail h3 {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    font-weight: normal;
}
#cart_margin {
    border: 1px solid #ADADAD;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 20px;
    padding: .2em;
    padding-top: 1.3em;
}
#cart_margin table thead th {
    font-weight: normal;
    font-size: .82em;
    border-bottom: .2em solid #7e7e7e;
    color: #6F6F6F;
}
.btn-checkout.final {
    width: 100%;
}
td.mg {
    border-bottom: .2em solid #7e7e7e;
    padding: .5em !important;
}
td.mg p {
    font-size: .8em;
    margin: 3px;
    color: #6F6F6F;
}
td.mg.c {
    text-align: center;
}
th.t.c {
    text-align: center;
}
td.mg p.d_name {
    text-transform: uppercase;
}
td img.i_d {
    margin-right: 15px;
    width: 70px;
}
#cart_detail table td {
    border-top: none;
}
.input-text.qty {
    background: 0 0;
    border-radius: 50%;
    height: 1.8em;
    width: 1.8em;
    line-height: 2;
    padding: 0;
    position: relative;
    text-align: center;
    top: -1px;
}
img.swatch {
    border-radius: 50%;
    border: 1px solid #bbbbba;
    box-shadow: 0 0 0 1px #7e7e7e;
    display: inline;
    height: 1.35em;
    padding: 1px;
    position: relative;
    top: -.375em;
    width: 1.35em;
    margin-top: 5px;
}
.d_size span {
    font-weight: bold;
}
.mg.c button {
    background: #fff;
    color: #696969;
    padding: 0;
}
h3.subtotal {
    font-size: .68em;
    color: #696969;
    margin-top: 10px;
}
h3.subtotal span {
    float: right;
}
h3.subtotal.cupon {
    color: #155BA7;
}
h3.total_general {
    font-size: .88em;
    color: #696969;
    margin-top: 10px;
}
h3.total_general span {
    float: right;
}
.btn-checkout.final {
    margin-top: 10px;
}
.continuar_pedido {
    color: #000;
    font-size: .74em;
    text-transform: uppercase;
    margin-top: 10px;
}
.continuar_pedido a {
    text-decoration: none;
}
/*Categoria*/

ol.new-o .active {
    color: #159F7F;
    font-weight: bold;
}
@media screen and (max-width: 767px) {
    #popularidad_catalogo {
        float: left;
        margin-left: 15px;
        width: 35%;
    }
}
.mobile_filtros {
    display: none;
}
@media screen and (max-width: 767px) {
    .mobile_filtros {
        display: block;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        background-color: #DBDBDB;
        border-color: #BCBCBC;
        padding: .3em;
    }
    .mobile_filtros:focus {
        display: block;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        background-color: #DBDBDB;
        border-color: #BCBCBC;
        color: #515151;
        padding: .3em;
    }
}
.modal-body.controles .form-control {
    width: 100%;
    margin-bottom: 10px;
}
#title_filter {
    font-size: 1em;
}
.center_ok {
    text-align: center;
}
/*Categoria*/
/*Vistas*/

.my_account {
    font-size: 1.0em;
    padding-left: 0px;
    text-align: left;
    margin-bottom: 5px;
}
.detail_account ul {
    padding-left: 0px;
}
.detail_account {
    border-color: #d3d3d3;
    border-style: solid;
    border-width: 1px;
}
.d_hr {
    margin-top: 0px;
    margin-bottom: 15px;
}
.detail_account ul li {
    font-size: .78em;
    padding-bottom: 3px;
    color: #000;
}
.big_panel h2 {
    font-size: 1.3em;
    margin-top: 0px;
}
.big_panel thead {
    background-color: #E4E4E4;
}
.big_panel table {
    border-color: #d3d3d3;
    border-style: solid;
    border-width: 1px;
}
.txtRight {
    text-align: right;
}
.l-cell {
    padding-bottom: 10px;
    font-size: .9em;
}
.center_account {
    max-width: 38em;
    margin: 0 auto;
}
.big_marg {
    border-color: #d3d3d3;
    border-style: solid;
    border-width: 1px;
}
.big_marg.no_content {
    padding: 2em;
}
#contact_header {
    background: #fff;
    margin-bottom: 2em;
    max-width: 38em;
    margin: 0 auto;
}
#edit_account {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 0 1px #bbbbba;
    box-shadow: 0 0 0 1px #bbbbba;
    background: #fff;
    padding: 2em;
    margin-bottom: 2em;
    width: 100%;
    margin: 0 auto;
}
label {
    font-size: .8em;
    color: #9A9A9A;
}
.legend {
    color: #143d80;
    font-size: .9em;
    text-transform: uppercase;
}
#message_ta {
    width: 100%;
}
.title-contact h1 {
    border-bottom: 1px solid #1d1d1b;
    color: #1d1d1b;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 1em;
    padding-bottom: .5em;
    font-size: 1.2em;
}
#subject_a {
    width: 100%;
}
#type_10 {
    width: 100%;
}
.det_camp {
    font-size: .8em;
    color: #9A9A9A;
    margin-top: 5px;
}
.send_t span {
    font-size: .8em;
    font-weight: normal;
}
.title-contact h1 {
    font-size: 1em;
}
.big_pedidos {
    margin-bottom: 70px;
}
.pedidos_mostrar h3 {
    text-transform: none;
    font-size: 1.2em;
    margin-top: 10px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em; 
}
div.info-producto {
    position: absolute;
    top: 0;
    padding: 1em;
}
/*Vistas*/
/*Footer*/

.button.newsletter {
    color: #000;
    background: 0 0;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    right: -16px;
    top: 4.5em;
    height: 1.25em;
    font-weight: normal;
}
#newsletterb {
    text-transform: lowercase;
    padding: .5em 1.5em .5em .5em;
    font-size: .6em;
    height: 23px;
    width: 100%;
}
.button.newsletter:before {
    content: ">";
    display: block;
    font-size: 1.3em;
    line-height: .8;
}
footer #f_deco {
    padding-top: 1em;
    background: url(http://www.rapsodia.com.co/skin/frontend/default/rapsodia16ss/images/flor-footer.png) center right -4.75em no-repeat, url(http://www.rapsodia.com.co/skin/frontend/default/rapsodia16ss/images/flor-footer.png) center left -4.75em no-repeat;
    background-size: 10em, 10em;
}
footer {
    margin: 3em auto 0;
    font-size: 1.25em;
    border-top: 1px solid rgba(187, 187, 186, .5);
    box-shadow: 0 -3px 0 #fff, 0 -4px 0 #bbbbba;
}
.comun_footer {
    font-family: iconos;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 15px;
    color: #143d80;
}
#f_deco ul li.rapsodia:before {
    content: "\e60d";
}
#f_deco ul li.ayuda:before {
    content: "\e602";
}
#f_deco ul li.tiendas:before {
    content: "\e60a";
}
#f_deco ul li.newsletter:before {
    content: "\e604";
}
#f_deco ul li h3 {
    color: #143d80;
    font-size: .72em;
    margin-bottom: .4em;
}
#f_deco ul li {
    text-align: center;
}
#f_deco ul li a {
    color: grey;
    font-size: .7em;
}
footer #legales {
    padding: 1.5em 2.5em;
    border-top: 1px solid rgba(187, 187, 186, .25);
    font-size: .6em;
}
footer #legales>a {
    float: left;
}
footer #legales .legal {
    margin-bottom: 0;
    text-align: right;
    line-height: 1.5;
}



footer #social {
    padding: 2em 0;
    text-align: center;
}
footer #social li {
    display: inline-block;
    vertical-align: middle;
}
footer #social .icono a {
    font-size: 1.35em;
    display: block;
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
    color: #143d80;
    border: 1px dotted #143d80;
    border-radius: 50%;
    text-align: center;
}
footer #social #facebook a:before {
    font-family: iconos;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e605";
}
footer #social a:hover {
    background-color: #143d80;
    color: #fff;
    text-decoration: none;
}
footer #social #instagram a:before {
    font-family: iconos;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e607";
}
footer #social #pinterest a:before {
    font-family: iconos;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e60c";
}
footer #social #twitter a:before {
    font-family: iconos;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e60e";
}
footer #social #googleplus a:before {
    font-family: iconos;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e606";
}
footer #social #youtube a:before {
    font-family: iconos;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e610";
}
footer #social #vimeo a:before {
    font-family: iconos;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e60f";
}
footer #social #snapchat a:before {
    font-family: iconos;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e900";
}
footer #social .icono a:before {
    display: block;
    margin-bottom: 1em;
    margin-top: .275em;
}
footer #social .bannerRedes {
    display: block;
    margin-top: 1em;
    max-width: 45em;
}
footer #social li:not(:first-child) {
    margin-left: .25em;
}
li.bannerRedes {
    margin-right: auto !important;
    margin-left: auto !important;
}
/*Footer*/

#btt {
    font-size: 1.125em;
    /* display: none; */
    
    background: #FFFFFF url(../media/default/totop.svg) no-repeat center center/contain;
    border: .5em solid #fff;
    bottom: 7.75em;
    height: 0;
    margin: 0;
    overflow: hidden;
    padding-top: 4em;
    position: fixed;
    right: 15px;
    text-decoration: none;
    text-indent: 100%;
    width: 4em;
    z-index: 1000;
    opacity: .8;
}
/*Detalle Producto*/
#modal-talla {     max-width: 968px; margin: 0 auto; }
#producto_social {
    float: right;
}
.img_product {
    padding-right: 0;
}
.close.modal-talla {
    position: absolute;
    right: 0;
    padding-right: 10px;
    padding-top: 5px;
    font-size: 2.2em;
}
@media only screen and (max-width: 320px) {
    .prd_details {
        padding-right: 0px;
    }
    .scl-mobile {
        padding-left: 0px;
    }
}
.social_comun:hover {
    color: #143d80;
    border: solid 1px #9E9E9E;
}
@media only screen and (min-width: 768px) {
    .modal-dialog.tallas {
        width: 70%;
    }
}
.bread li {
    display: inline-block;
}
.bread {
    padding: 0;
    margin-bottom: 8px;
}
.l1 {
    font-size: .8em;
}
.act {
    font-weight: bold;
    font-size: .8em;
}
.navf {
    text-align: right;
}
.marg_detail {
    border-bottom: 1px solid #000;
}
.p_marg {
    margin-right: 0px;
    margin-left: 0px;
    border-bottom: 1px solid black;
    margin-bottom: 13px;
    margin-top: 10px;
}
.p_marg .col-md-6 {
    padding-left: 0px;
    padding-right: 0px;
}
.navf span {
    font-size: .9em;
    color: #9A9A9A;
}
.detail_image {
    padding-left: 0px;
}
.detail_image li {
    padding-bottom: 10px;
}
.title_product {
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 3px;
}
.price_product {
    font-size: 1em;
    color: #143d80;
}
.header_product {
    padding-bottom: 27px;
}
.name_atribute {
    font-weight: normal;
    font-size: 1.08em;
    text-transform: none;
    margin-bottom: 8px;
}
.name_atribute span {
    color: #9A9A9A;
}
.img_product img {
    width: 85%;
    float: right;
}
.detail_image img {
    width: 70%;
}
.thumbnails {
    padding-right: 0;
}
.detail_color {
    padding-left: 0px;
}
.detail_color img {
    border-radius: 50%;
    width: 1.65em;
    height: 1.65em;
    box-shadow: 0 0 0 1px #bbbbba;
    padding: 1px;
}
.detail_prod {
    padding-bottom: 20px;
}
.color_container {
    padding-right: 10px;
    display: inline;
}
.detail_talla {
    padding-left: 0px;
    margin-bottom: 2px;
}
.a_guia {
    text-decoration: underline;
    color: #9a9a9a;
}
#cantidad {
    clear: left;
    position: relative;
    font-size: .95em;
    display: inline-block;
    vertical-align: middle;
    padding-right: 1em;
}
#cantidad select {
    font-size: .8em;
    width: 5em;
    padding-top: .5em;
    padding-bottom: .5em;
}
#comprar {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
#comprar button {
    font-size: 1.1em;
    margin-left: 25%;
    vertical-align: middle;
    font-weight: 700;
    line-height: 2.1;
    padding: 0 1.5em;
    min-width: 8em;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}
#link-wishlist {
    margin-left: 14.75em;
    padding-top: .5em;
    display: inline-block;
}
.tallas_div {
    margin-bottom: 20px;
}
#cantidad h3 {
    display: inline-block;
    margin: 0;
    font-size: 1em;
    margin: 1em 0 .5em;
    font-weight: 700;
    color: #1d1d1b;
    text-transform: none;
}
#cajadetalles h2 {
    font-size: 1em;
}
#detalles h2 {
    border-bottom: 1px solid #1d1d1b;
    padding-bottom: 6px;
    font-size: 1em;
    font-weight: 500;
}
#detalles h3 {
    font-weight: normal;
    text-transform: none;
    padding: .5em 0;
    cursor: pointer;
}
#detalles h3.abierto:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.acd {
    display: none;
    margin-top: 5px;  
}

.acd.default {
    display: block;
}
#detalles h3:after {
    float: right;
    content: "";
    width: 1em;
    height: 1em;
    display: block;
    background: url(http://www.rapsodia.com.ar/skin/frontend/default/rapsodia16fw/images/flecha-select.svg) no-repeat center center/contain;
    font-family: 'Open Sans', Tahoma, sans-serif;
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -o-transition: 250ms;
    -ms-transition: 250ms;
    transition: 250ms;
}
}
@media only screen and (max-width: 768px) {
    .img_product img {
        width: 100%;
    }
}

.social_comun {
    font-family: iconos;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    vertical-align: middle;
    font-size: 1.2em;
    line-height: 1.5;
    border: solid 1px #D8D8D8;
    text-align: center;
    border-radius: 50%;
    padding: 0px;
    width: 27px;
    height: 27px;
    color: #797979;
    margin-bottom: 10px;
}
.s_facebook:before {
    content: "\e605";
}
.s_twitter:before {
    content: "\e60e";
}
.s_pinterest:before {
    content: "\e60c";
}
.s_mail:before {
    content: "\e611";
}
.cloud_icon:before {
    position: absolute;
    font-family: iconos;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    vertical-align: middle;
    font-size: 2.2em;
    color: #333;
    right: 7%;
    cursor: pointer;
    top: 2%;
    content: "\e609";
    z-index: 3;
}
.relation_prod {
    margin-top: 30px;
}
.relation_prod h2 {
    font-size: 17px;
}
.relation_prod .col-md-3 {
    margin-top: 20px;
    margin-bottom: 15px;
}
.col-xs-5c,
.col-sm-5c,
.col-md-5c,
.col-lg-5c {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
}
.col-xs-5c {
    width: 100%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-5c {
        width: 33.33%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5c {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5c {
        width: 20%;
        float: left;
    }
}
.color_container.active a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
.modal-header.detail_sz {
    padding: 8px;
    border-bottom: none !important;
}
.modal-body.detail_sz {
    padding: 0px;
}
.cloudzoom-blank {
    z-index: -1;
}
.cloudzoom-zoom-inside {
    z-index: 1 !important;
}
ul.detail_image li.active {
    opacity: .5;
}
/*Detalle producto*/

#f_deco .container .col-xs-12 ul {
    padding: 0px;
}
ul#social {
    margin-top: 3em;
}
footer #legales>a:nth-of-type(2):before {
    content: "|";
    margin: 0 .5em;
}
/* Registro */

#contact_header {
    background: #fff;
    margin-bottom: 2em;
    max-width: 38em;
    margin: 0 auto;
}
#contactForm {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 0 1px #bbbbba;
    box-shadow: 0 0 0 1px #bbbbba;
    background: #fff;
    padding: 2em;
    margin-bottom: 2em;
    max-width: 38em;
    margin: 0 auto;
    padding-top: 1em;
}
#register label {
    font-size: .84em;
    color: #9A9A9A;
    font-weight: normal;
    margin-top: 1.3em;
    margin-bottom: 0;
}
h2.legend {
    color: #143d80;
    font-size: .9em;
    text-transform: uppercase;
    margin-bottom: 0;
}
h2.legend.dir_title {
    padding-top: 1.7em;  
}
#message_ta {
    width: 100%;
}
.title-contact h1 {
    border-bottom: 1px solid #1d1d1b;
    color: #1d1d1b;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 1em;
    padding-bottom: .5em;
    font-size: 1.2em;
}
#subject_a {
    width: 100%;
}
#type_10 {
    width: 100%;
}
.det_camp {
    font-size: .8em;
    color: #9A9A9A;
    margin-top: 5px;
}
.send_t span {
    font-size: .8em;
    font-weight: normal;
}
.title-contact h1 {
    font-size: 1em;
}
/*Registro*/
/* TODAS */

.select_news label {
    font-size: .9em;
    font-weight: normal;
}
.info-producto dl dt {
    display: inline;
}
.info-producto dl dd {
    display: inline;
}
div.info-producto {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.65);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 28px;
}
div.info-producto h3 {
    text-align: initial;
}
img:hover + .info-producto {
    display: block;
}
.info-producto {
    display: none;
}
#d_direccion h4 {
    text-align: left;
    border-bottom: 1px solid #d3d3d3!important;
    padding-bottom: 5px;
    font-size: 1em;
}
#d_direccion .brd {
    border: solid 1px #D0D0D0;
    padding: .5em;
}
.brd table {
    border: none;
    margin-bottom: .5em;
}
.brd .p_title {
    font-weight: 700;
}
td.address-title {
    font-size: .85em;
    font-weight: 700;
    padding-right: 1.5em;
}
.brd table td span {
    font-size: .80em;
}
.brd hr {
    margin-top: 1px;
    margin-bottom: 1em;
}
.i-information {
    font-size: .85em;
}
/* /TODAS */
/*Nav */

.navbar-toggle {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    padding: 6px 6px;
    margin-top: 15px;
}
.navbar-toggle {
    background-color: rgba(202, 202, 202, 0.29);
    margin-right: 0px;
}
span.icon-bar {
    background-color: #242424;
}
@media (max-width: 416px) {
    footer #social .icono a {
        font-size: 1em;
    }
    footer #social li:not(:first-child) {
        margin-left: 0em;
    }
}
.prd_details {
    padding-left: 0px;
}
@media (max-width: 769px) {
    .prd_details {
        padding-left: 15px;
    }
    .header_product {
        margin-top: 20px;
    }
}
@media (max-width: 769px) {
    td.mg p {
        font-size: .63em;
    }
    #cart_margin table thead th {
        font-size: .63em;
        padding-right: 5px;
    }
    td img.i_d {
        margin-right: 0px;
        width: 60px;
    }
    #resume_shop {
        padding-left: 0px;
        padding-right: 0px;
    }
    #resume_product {
        padding-left: 0px;
        padding-right: 0px;
    }
    .input-text.qty {
        height: 1.3em;
        width: 1.3em;
    }
    #cart_detail table td {
        padding-left: 0px;
    }
}
@media (min-width: 995px) {
    .big_panel .row {
        margin-left: 15px;
    }
}
.detail_account {
    margin-bottom: 30px;
}
.over-detail:hover .info-producto {
    display: block;
}
div.info-producto h3 {
    text-align: initial;
    text-decoration: none;
    font-weight: normal;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.over_price {
    margin-top: 20px;
    margin-bottom: 20px;
}
.over_more dl {
    margin-bottom: 5px;
}
.direction {
    font-size: .85em;
}
.direction.rd {
    color: #b94141;
    background: url('../media/default/remove.gif') no-repeat 4px 2px;
    padding-left: 20px;
}
.direction.df {
    background: url('../media/default/information.png') no-repeat;
    padding-left: 20px;
}
.direction.pr {
    background: url('../media/default/') no-repeat;
    padding-left: 20px;
}
/*Nav*/

.delete_prd a {
    padding-top: 30px;
    position: absolute;
    color: #C80F41;
    font-size: 1em;
}
/*HEADER */

#numero-carrito {
    position: relative;
}
#numero-carrito:after {
    font-family: iconos;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e600";
    position: absolute;
    font-size: 1.65em;
    top: -.25em;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.rapsodia_shop {
    visibility: hidden;
    float: right;
    padding-top: 20px;
    margin-right: 18px;
}
@media screen and (max-width: 767px) {
    #cls .navbar-left {
        padding-left: 15px;
        width: 50%;
        float: left;
    }
    #cls .navbar-left li a {
        font-size: .8em;
        text-align: left;
        padding-bottom: 5px;
    }
    #cls .navbar-right {
        padding-right: 15px;
        width: 50%;
        float: right;
    }
    #cls .navbar-right li a {
        font-size: .8em;
        text-align: right;
        padding-bottom: 5px;
    }
    .rapsodia_shop {
        visibility: visible;
    }
}
@media screen and (max-width: 414px) {
    .img_product {
        padding-left: 0;
        padding-right: 0;
    }
    .detail_image img {
        width: 100%;
    }
}
@media screen and (max-width: 320px) {
    #cls .navbar-left {
        padding-left: 15px;
        width: 50%;
        float: left;
    }
    #cls .navbar-left li a {
        font-size: .65em;
        text-align: left;
        padding-bottom: 0px;
    }
    #cls .navbar-right {
        padding-right: 15px;
        width: 50%;
        float: right;
    }
    #cls .navbar-right li a {
        font-size: .65em;
        text-align: right;
        padding-bottom: 0px;
    }
    img.logo {
        padding-top: 20px;
        width: 180px;
    }
    #comprar button {
        margin-left: 5%;
    }
    div#navbar {
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgb(232, 232, 232);
    }
}
.can_cart {
    width: 37px;
    float: right;
    margin-right: 15px;
}
/*HEADER*/

.navbar-header.center {
    text-align: center;
}
/*PLG*/



/*PLG*/

/*Carrito vacio*/
#compras-vacio {
    border: 1px solid #bbbbba;
    font-size: .8em;
    padding: .6em 2em 2em 2em;
    margin: 0 auto;
    max-width: 40em;
    margin-bottom: 8em; 
}
#compras-vacio-info {
    font-size: 1em;
    color: #7e7e7e;
}
#compras-vacio-info a {
    color: #444;
}
#row-checkout {
    margin-bottom: .7em;
}
/* /Carrito vacio*/ 
#mensaje_consulta { width: 100%;  }



/*final*/

.big_pedidos  h2.libreta { font-weight: bold; }
.col-green { background-color: #009635; color: #fff; height: 56px !important;  }
.col-gray {     background-color: #D4D4D4; color: #191919;  height: 56px !important;  }


.col-step p {     line-height: 4em;
    position: absolute;
    top: 0;     margin-left: 18px; }

.col-step h1 { position: relative;
    font-size: 4em;
    bottom: 22px;
    color: #9A9A9A;     margin-left: 15px; }

.col-step.bck {     
    background-color: #009635; 
    color: #fff;
    padding-right: 0px;}

.b-green { margin-bottom: 6em; }  

.b-green img {  
    border: 0;
    padding: 0;
    height: 56px;
    position: absolute;
    top: 0;
    right: 0; 
    margin-right: -25px;
    z-index: 2;
    width: 45px;
}

#tabla-shop tbody>tr>td { border: none;  }

#tabla-shop { border: none; }

.table.price { float: right;   text-align: right;}  

#b_devolucion { float: right; }

/* final */








/* busqueda */



.ref { margin-left: 0px; }
.search_cart { margin-top: 18px; text-align: right; }
.dk-cart { display: inline-block;  position: initial; }
#search { position: absolute; width: 290px;top: 25px;left: 0px; display: none; }
.btn-search { background-color: #fff; }
#buscador { position: relative; max-width: none; display: inline-block;width: 13em; }
.dk-cart a:hover { text-decoration: none; color: black; }

@media (max-width: 1199px){ .logo { width: 190px; } }

@media (max-width: 990px){ .search_cart { margin-top: 10px; } }

@media (max-width: 768px){
.search_cart { text-align: initial; }  
#search { position: initial;  display: inline-block;  }
#buscador { width: 100% ; }
                         }


/* busqueda */ 












/*LOGIN*/

#carga_login {
    padding-bottom: 9em;
}
.espacio_bordes {
    border: 1px solid #bbbbba;
    font-size: .8em;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 1em;
    margin-bottom: 1.5em;
}
.titulo-crear-cuenta {
    margin-top: 0;
    border-bottom: 1px solid #1d1d1b;
    color: #1d1d1b;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 1em;
    padding-bottom: .5em;
}
.titulo-crear-cuenta,
.titulo_login {
    font-size: 1em;
}
.borde_clientes {
    padding-left: 0;
}
.borde_login {
    padding-right: 0;
}
.titulo_login {
    margin: 0;
    color: #000;
    text-transform: uppercase;
    line-height: 3em;
}
#button_clientes {
    margin-top: 12.5em;
    margin-bottom: 2em;
}
button #button_clientes,
button #button_registrado {
    letter-spacing: 0;
}
#button_registrado {
    margin-bottom: 1.8em;
    margin-top: 0;
}
.b_registro {
    font-size: .8em;
    margin-right: 4em;
}
.datos_registrado,
.b_registro,
.espacio_bordes p,
.titulo_login {
    margin-left: 1em;
}
.datos_registrado,
.datos_registrado label {
    color: #7e7e7e;
    font-weight: none;
    font-style: normal;
}
a.contrasena_olivdada {
    color: #444;
    text-decoration: none;
}
label {
    font-weight: normal !important;
}
@media screen and (max-width: 435px) {
    .borde_login {
        padding-left: .5em;
        padding-right: .5em;
    }
    .titulo-crear-cuenta {
        margin-left: .5em;
        margin-right: .5em;
    }
    #button_clientes {
        margin-top: .5em;
    }
    .borde_clientes {
        padding-left: .5em;
        padding-right: .5em;
    }
    .contrasena_olivdada {
        font-size: .81em;
    }
}

/*login*/


.img_final { width: 50px;  }

.align_final { text-align: right; }

.row.instagram { padding-bottom: 40px; }

.wrapper.multi-slide { margin-top: 0px; overflow: hidden;  }

@media only screen and (max-width: 992px) {
    .img_product img {
        width: 100%;
    }

.col-step h1 {

    bottom: 4px;
}

}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}


@media (max-width: 868px) {
    .dropdown-menu-large {
        margin-left: 0;
        margin-right: 0;
        background: #fff;
    }
    .dropdown-menu-large > li {
        margin-bottom: 0px;
    }
    .dropdown-menu-large > li:last-child {
        margin-bottom: 0;
    }
    .dropdown-menu-large .dropdown-header {
        padding: 3px 15px !important;
    }
}


@media (min-width: 30em) {
    .titulowelove {
        width: 50%
    }
}
@media (min-width: 40em) {
    .titulowelove {
        width: 33.33333%
    }
}
@media (min-width: 45em) {
    .titulowelove {
        width: 25%
    }
}
@media (min-width: 50em) {
    .titulowelove {
        width: 20%
    }
}
@media screen and (max-width: 30em) {
    .titulowelove {
        width: auto;
        position: static;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        padding: 1em 0 0;
        margin: 0
    }
}
@media screen and (min-width: 30em) and (max-width: 40em),
screen and (min-width: 45em) and (max-width: 50em) {
    .titulowelove {
        left: 0;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0)
    }
}



@media (min-width: 30em) {
    .carousel {
        left: -50%;
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
        transform: translateX(50%)
    }
}
@media (min-width: 40em) {
    .carousel {
        left: -33.33333%;
        -webkit-transform: translateX(33.33333%);
        -moz-transform: translateX(33.33333%);
        -ms-transform: translateX(33.33333%);
        -o-transform: translateX(33.33333%);
        transform: translateX(33.33333%)
    }
}
@media (min-width: 45em) {
    .carousel {
        left: -25%;
        -webkit-transform: translateX(25%);
        -moz-transform: translateX(25%);
        -ms-transform: translateX(25%);
        -o-transform: translateX(25%);
        transform: translateX(25%)
    }
}
@media (min-width: 50em) {
    .carousel {
        left: -20%;
        -webkit-transform: translateX(20%);
        -moz-transform: translateX(20%);
        -ms-transform: translateX(20%);
        -o-transform: translateX(20%);
        transform: translateX(20%)
    }
}



@media (min-width: 30em) {
    .carousel.is-reversing {
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}
@media (min-width: 40em) {
    .carousel.is-reversing {
        -webkit-transform: translateX(-33.33333%);
        -moz-transform: translateX(-33.33333%);
        -ms-transform: translateX(-33.33333%);
        -o-transform: translateX(-33.33333%);
        transform: translateX(-33.33333%)
    }
}
@media (min-width: 45em) {
    .carousel.is-reversing {
        -webkit-transform: translateX(-25%);
        -moz-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
        -o-transform: translateX(-25%);
        transform: translateX(-25%)
    }
}
@media (min-width: 50em) {
    .carousel.is-reversing {
        -webkit-transform: translateX(-20%);
        -moz-transform: translateX(-20%);
        -ms-transform: translateX(-20%);
        -o-transform: translateX(-20%);
        transform: translateX(-20%)
    }
}



@media (min-width: 30em) {
    .carousel-seat {
        -moz-flex-basis: 50%;
        -ms-flex-basis: 50%;
        -webkit-flex-basis: 50%;
        flex-basis: 50%
    }
}
@media (min-width: 40em) {
    .carousel-seat {
        -moz-flex-basis: 33.33333%;
        -ms-flex-basis: 33.33333%;
        -webkit-flex-basis: 33.33333%;
        flex-basis: 33.33333%
    }
}
@media (min-width: 45em) {
    .carousel-seat {
        -moz-flex-basis: 25%;
        -ms-flex-basis: 25%;
        -webkit-flex-basis: 25%;
        flex-basis: 25%
    }
}
@media (min-width: 50em) {
    .carousel-seat {
        -moz-flex-basis: 20%;
        -ms-flex-basis: 20%;
        -webkit-flex-basis: 20%;
        flex-basis: 20%
    }
}



@media only screen and (max-width: 480px) {
    .ref {
        margin-left: 0%;
    }
    .ref li:first-child a:first-child {
        padding-left: 15px;
    }
}



@media (max-width: 414px) {
    .flecha.prev {
        left: 1em;
    }
    .flecha.next {
        right: 1em;
    }
}
@media (max-width: 769px) {
    .flecha.prev {
        left: .7em;
    }
    .flecha.next {
        right: .7em;
    }
    .scl-mobile {
        margin-top: 20px;
    }
}
@media (min-width: 769px) {
    .navbar-right {
        float: right!important;
        margin-right: 0px;
    }
}


@media only screen and (max-width: 1024px) {
    .ref {
        margin-left: 0%;
    }
    .ref li:first-child a:first-child {
        padding-left: 0px;
    }
    ul.nav.navbar-nav.ref li a { 
        padding-right: 10px;
    }
}
@media only screen and (max-width: 767px) {
    .ref {
        margin-left: 0%;
    }
    .ref li:first-child a:first-child {
        padding-left: 15px;
    }
}